input {
    margin-top: 5px;
    width: 95%;
}

input.bold, input.italic, input.underline {
    width: 30px;
    height: 30px;
    font-family: sans-serif;
    vertical-align: top;
}

input.bold {
    font-weight: bold;
}

input.italic {
    font-style: italic;
}

input.underline {
    text-decoration: underline;
}

input[type='submit'], input#save {
    width: 100px;
    height: 30px;
}

input#title {
    display: block;
    padding: 7px;
}

div#textfield {
    background-color: #fff;
    padding: 5px;
    overflow-y: scroll;
    height: 300px;
    margin-top: 5px;
}

div#textfield h1, h2, h3, h4, h5 {
    margin: 0;
}

select#heading {
    width: 40px;
    height: 30px;
    vertical-align: bottom;
}
select#heading:after {
    content: '▼';
    position: absolute;
    float: right;
    left: 25px;
    top: 25px;
    z-index: 1000;
    color: #000000;
    display: inline-block;
}

select#heading option {
    font-weight: bold;
}

label.btnLabel {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 5px;
}

select#fontSize, select#fontFamily, select#heading {
    vertical-align: bottom;
    height: 30px;
}

select#fontSize {
    width: 32px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.toolbar > input[type='button'] {
    width: 30px;
    height: 30px;
}

input#link {
    background: url('../images/link.png') no-repeat center;
}

input#unlink {
    background: url('../images/unlink.png') no-repeat center;
}

input#image {
    background: url('../images/img.png') no-repeat center;
}
#main {
    width: 100%;
    font-family: Calibri, Arial, sans-serif;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    text-align: justify;
    /*background-color: #666666;*/
    background-color:rgba(102, 102, 102, 0.1);
}