html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
body{
    background: url('../images/artistic-bubbles.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header {
    height: 100px;
    background-color: green;
    margin-bottom: 15px;
}
div#wrapper {
    width:70%;
    margin:0 auto;
    background-color:rgba(255, 255, 255, 0.4);
}
#sidebars {
    display: inline-block;
    width: 220px;
}
.sidebar {
    background-color: green;
    width: 200px;
    border-radius: 10px;
    float: left;
    margin: 10px;
}
    .sidebar ul li {
        list-style-type: circle;
    }
    .sidebar ul li:first-of-type{
        list-style-type: none;
    }

div#main {
    width: 60%;
    font-family: Calibri, Arial, sans-serif;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    text-align: justify;
    background-color:rgba(255, 255, 255, 0.5);
}

input.addArticle {
	background: url('../images/plus.png') no-repeat center;
	border: none;
	width: 50px;
	height: 50px;
}
form#sign-up input[type=submit] {
    position:absolute;
    background-color:rgba(209, 214, 231, 0.8);
    color: #F25356;
    font-weight: bold;
    /*background-color:#b6ff00;*/
    border:none;
    width:90px;
    height:40px;
    border-radius:10px;
    left:10px;
    top:10px;
    font-size:16px;
}
div#bg form input#blue {
    background:repeating-linear-gradient(to bottom, rgba(89, 194, 255, 0.7), #004bff);
}
header img#logo {
    width: 175px;
}
header input {
    float: right;
}
div#container {
    width:250px;
    height:200px;
    margin: 100px auto 0px auto;
}
div#bg {
    background-color:rgba(255, 255, 255, 0.3);
    padding:10px;
    border-radius:10px;
}
div#container img {
    position:relative;
    left:-45px;
    margin-bottom: 30px;
}
div#container form input {
    width:100%;
    height:50px;
    text-indent:10px;
    font-size:18px;
    margin:0;
    background-color:rgba(255, 255, 255, 0.82);
}
div#container form input[type=submit] {
    margin-top:18px;
    background:rgba(245, 87, 91, 0.9);
    border:none;
    color: #ffffff;
}
footer {
    position: absolute;
    width: 70%;
    height: 20px;
    margin: 0;
    color: red;
    background-color: green;
}